@import "../../styles/base.scss";

button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;

  &:disabled{
    opacity: .5;
    cursor: not-allowed;
  }

  &.primary{
    color: $green;
    background: transparent;
    border: 1px solid $green;
    font-family: "Space Mono";
    padding:12px 25px;
    border-radius: 3px;
    transition: .2s;
    font-size: .9rem;
    border-radius: 5px;

    &-small{
      font-size: 0.8rem;
      padding:8px 15px;
    }

    &.filled{
      background: $navy;
    }

    &.dark{
      border-color: $navy;
      color: $navy;
    }

    &.white{
      border-color: white;
      color: white;

      &:hover{
        background-color: white;
        color: $navy;
      }
    }

    &:hover{
      background: $greentintOpaque;
    }

    &:focus{
      outline: none;
    }

    @include mobile{
      font-size: 0.8rem;
      padding:8px 15px;
    }

  }

}