@import "../../styles/base.scss";

#hero{

  min-height: 80vh;
  display: grid;
  place-items: center;
  padding-bottom: 50px;

  @include mobile{
      min-height: auto;
      padding-top: 20px 0 50px;
  }

  @include laptop{
    min-height: 80vh;
  }

  .container{

    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;

    @include mobile{
      grid-template-columns: 1fr;
    }

    .left{

      @include mobile{
        text-align: center;
        display: grid;
        place-items: center;
      }      

      .robo-lottie{
        display: none;
        width: 200px;

        @include mobile{
          display: block;
        }
      }

      h1, h2{
        margin: 0;
      }

      h2{
        margin-top:.3em;

        .glow{
          color: #fff;
          animation-name: glow;
          animation-duration: .5s;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }
      }

      p.description{
        max-width: 50%;

        @include mobile{
          max-width: 100%;
        }
      }

      button{
        @include mobile{
          display: none;
        }
      }

    }

    .right{
      position: relative;

      .robo-lottie{
        position: absolute;
        top:-50px;
        right: -100px;
        width: 500px;
        
        @include laptop{
          top: -7px;
          right: -136px;
        }

        @include mobile{
          display: none;
        }
      }
    }

  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 0px #000, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa, 0 0 0px #0fb, 0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa
  }
  to {
    text-shadow: 0 0 6px #000, 0 0 10px #fff, 0 0 1px #fff, 0 0 4px #0fa, 0 0 1px #0fb, 0 0 1px #0fa, 0 0 0px #0fa, 0 0 0px #0fa;
  }
}
