@import "./variables.scss";

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-height: 930px) and (max-width: 1440px) {
    @content;
  }
}

body{
  background: $navy !important;
  color: $slate;
  font-family: "Source Sans Pro";
}

.container{
  max-width: 1440px;
  padding:0 20px;
  margin:0 auto;
  
  &.inner{
    max-width: 1040px;
  }

  @include laptop{
    padding: 0 100px;
  }

  @include mobile{
    padding: 0 20px;
  }

}

.space-mono{
  font-family: "Space Mono";
}

// font family helper classes
.polysans-bulky{
  font-family: "Polysans Bulky";
}

.polysans-bulky-wide{
  font-family: "Polysans Bulky Wide";
}

.polysans-neutral{
  font-family: "Polysans Neutral";
}

.barlow-condensed-light{
  font-family: "Barlow Condensed";
  font-weight: 100;
}

// font color helper classes
.text-green{
  color: $green;
}

.text-white{
  color: #fff;
}

.text-darker-slate{
  color: $darkerSlate;
}
.text-lightest-slate{
  color: $lightestslate;
}
.text-slate{
  color: $slate;
}

// typography base helper classes
h1{
  font-size: 7em;

  @include laptop{
    font-size: 5em;
  }

  @include mobile{
    font-size: 3em;
  }

}
h2{
  font-size: 2.5em;

  .sub{
    font-size: .5em;

    @include mobile{
      display: block;
    }

  }

  @include laptop{
    font-size: 2em;
  }
}

p{
  line-height: 2em;
}

a{
  color: $green;
  text-decoration: none !important;

  &:hover{
    color: $green;
  }
}