$navy: #0a192f;
$lightNavy: #193f78;
$darkerNavy:#071221;
$darkerSlate: #636a80;
$slate: #8892b0;
$lightestslate: #ccd6f6;
$green: #64ffda;
$greentint: rgba(100,255,218,0.1);
$greentintOpaque: #153743;

@font-face {
  font-family: 'Polysans Bulky';
  src:  url('/fonts/PolySans Bulky.ttf')
}

@font-face {
  font-family: 'Polysans Bulky Wide';
  src:  url('/fonts/PolySans Bulky Wide.ttf')
}

@font-face {
  font-family: 'Polysans Neutral';
  src:  url('/fonts/PolySans Neutral.ttf')
}