@import "../../styles/base.scss";

#about{
  
  min-height: 60vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(25deg, #0e3b74 30%, #17c9ac 140%);
  background-attachment: fixed;
  padding: 50px 0;

  @include laptop{
    min-height: 80vh;
    background-image: linear-gradient(25deg, #0e3b74 80%, #17c9ac 180%);
  }

  .container{

    display: flex;
    gap: 100px;

    @include laptop{
      gap: 10px;
    }

    @include mobile{
      display: block;
    }

    .left{
      
      width: 30%;
      display: grid;
      align-items: center;
      justify-items: center;
      position: relative;

      @include laptop{
        align-items: start;
        justify-items: end;
      }

      @include mobile{
        width: 100%;
        justify-items: center;
        align-items: center;
      }

      img{
        width: 110%;

        @include laptop{
          width: 80%;
        }

        @include mobile{
          width: 80%;
        }

      }

    }

    .right{
      width: 70%;
      display: flex;
      flex-direction: column;
      padding: 50px 80px;
      justify-content: center;
      background: rgba( 255, 255, 255, 0.25 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      color: white;
      border-radius: 10px;

      @include mobile{
        width: 100%;
        text-align: center;
        padding: 10px 20px 30px;
        margin-top: 50px;
      }
    
      h2{
        span{
          letter-spacing: .1em;
          text-transform: uppercase;
        }

        @include mobile{
          margin-top:1em;
          display: grid;
          text-align: center;
          line-height: 1.3em;
        }
        
      }

    }

  }

}