@import "../../styles/base.scss";

.tech-card-wrapper .tech-card-row .tech-card{
  height: 190px;
  width: 100%;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform-style: preserve-3d;
  cursor: pointer;

  @include mobile{
    height: 120px;
  }

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(60px);

    @include mobile{
      font-size: 12px;
    }
    
    img{
      width: 60%;

      @include mobile{
        width: 30%;
      }

      &.white-card-bg{
        background: rgba( 255, 255, 255, 0.6 );
        backdrop-filter: blur( 2.5px );
        -webkit-backdrop-filter: blur( 2.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        padding:20px;
        border-radius: 5px;

        @include mobile{
          padding:10px;
          box-sizing: content-box;
        }  
      }
    }
  }

}