@import "../../styles/base.scss";


#experience{
  padding-top:15vh;
  display: grid;
  place-items: center;

  @include mobile{
    padding: 50px 0;
  }

  @include laptop{
    min-height: 80vh;
  }

  h2{
    text-align: center;

    span{
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    @include mobile{
      margin-top:1em;
      display: grid;
      line-height: 1.3em;
    }
    
  }

}