@import "../../styles/base.scss";


#experience{
  padding-top:15vh;
  display: grid;
  place-items: center;
  position: relative;

  @include mobile{
    padding: 40px 0 0;
  }

  @include laptop{
    min-height: 80vh;
  }

  h2{
    text-align: center;

    span{
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    @include mobile{
      margin: 20px 0 0;
      display: grid;
      line-height: 1.3em;
    }
    
  }

}