@import "../../styles/base.scss";


#experience{
  padding-top:15vh;
  display: grid;
  place-items: center;

  .container{
    position: relative;
  }

  @include mobile{
    padding: 40px 0 0;
  }

  @include laptop{
    min-height: 80vh;
  }

  h2{
    text-align: center;

    span{
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    @include mobile{
      margin: 20px 0 0;
      display: grid;
      line-height: 1.3em;
    }
    
  }

  .smudge{
    position: absolute;
    z-index: -1;
  }

  .smudge-1{
    top:0;
    left:10%;
  }

  .smudge-2{
    top:25%;
    right: 25%;
  }

  .smudge-3{
    top:50%;
    left: 5%;
  }

  .smudge-4{
    top:75%;
    right: 5%;
  }

  .smudge-5{
    top:90%;
    left: 5%;
  }
}