@import "../../styles/base.scss";

header#desktop-header {
  padding:20px 0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9;
  transition: .2s;
  
  @include mobile{
    display: none;
    padding: 0;
  }

  &.isScrolled{
    background: #050c169a;
    -webkit-backdrop-filter: blur( 30px );
    backdrop-filter: blur( 30px );
    padding: 10px 0;
    border-bottom: 1px solid  rgba( 255, 255, 255, 0.18 );
  }
  
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .brand{
    color: $lightestslate;
    font-family: "Polysans Bulky";
    font-size: 2rem;
    color: $green;
    margin-left: -13px;

    @include mobile{
      display: none;
    }
  }

  .navigation-menu{
    margin-left: auto;

    ul{
      font-size: .8rem;
      list-style: none;
      padding:0;
      display: flex;
      align-items: center;
      gap: 40px;
      margin:0;

      li{

        a{
          display: flex;
          align-items: center;
          gap:10px;
          color: $lightestslate;
          font-family: "Space Mono";
          text-decoration: none;
  
          .icon{
            color: $green;
            font-size: 16px;
          }
        }

      }


    }

  }

}

header#mobile-header{

  .navigation-menu-mobile{
    display: none;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
    background: #050c169a;
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
    border-top: 1px solid  rgba( 255, 255, 255, 0.18 );

    button{
      position: absolute;
      left: 3%;
      top: -50px;
      width: 94%;
    }

    ul{
      font-size: .8rem;
      list-style: none;
      padding:0;
      display: flex;
      align-items: center;
      margin: 10px 0;

      li{
        
        width: 25%;

        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          gap:5px;
          color: #fff;

          span.icon{
            transform: translateY(15px);
            transition:.3s;
            font-size: 20px;
            opacity: .5;

            img{
              width: 30px;
            }

            &.lift{
              transform: translateY(0);
            }
            
          }

          span.label{
            transform: translateY(40px);
            transition:.3s;
            font-family: "Space Mono";
            font-size: 10px;

            &.lift{
              transform: translateY(0);
            }
          }
        }
      }
    }

    @include mobile{
      display: block;
    }
  }

}

